Nav div {
  background-color: black;
}
.ImageComponent {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ImageComponent img {
  margin-top: 20px;
}
p {
  font-size: 15px;
}
span {
  font-size: 20px;
  font-weight: 700;
}
Nav img {
  width: 200px;
}
.App img {
  width: 400px;
  margin-inline: auto;
}
.App button {
  margin-top: 20px;
  width: 200px;
  background-color: black;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 10px 0px #000000;
}
